

/* nav */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
      font-family: 'Rajdhani', sans-serif;
      color: white;
      background: linear-gradient(to right,  #181818 , #282036);
      overflow-x: hidden;
    }

header {
  background: linear-gradient(to right,  #181818 , #282036 );
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.logo img {
  height: 26px; /* ajuste conforme necessário */
  width: auto;
  display: block;
}


.underscore {
  color: #6b2fc8 ;
  font-size: 1.8rem;
  position: relative;
  top: -5px;
}

/* BOTÃO WHATSAPP COM ESTILO E ANIMAÇÃO */
.whatsapp-btn {
  color: white;
  background: linear-gradient(90deg, #8b4ce0, #8b4ce0);
  border: none;
  padding: 0.7rem 1.8rem;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
  box-shadow: 0 0 0px #8b4ce0;
  transition: all 0.3s ease;
  animation: pulseGlow 2s infinite;
}

.whatsapp-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #8b4ce0;
}

/* Animação de brilho pulsante */
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0px #8b4ce0;
  }
  50% {
    box-shadow: 0 0 12px #8b4ce0;
  }
  100% {
    box-shadow: 0 0 0px #8b4ce0;
  }
}


/* MENU HAMBÚRGUER */
.menu-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.menu-text {
  font-weight: 500;
  font-size: 1rem;
  color: white;
}

.hamburger {
  width: 24px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger span {
  height: 2px;
  background-color:#d49263 ;
  border-radius: 1px;
}

/* NAV OCULTO */
nav {
  background-color: #0f0f0f3e;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease;
}

nav.active {
  max-height: 300px;
  opacity: 1;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
}

nav ul li a:hover {
  border-bottom: 1px solid #d49263;
}

/* MAIN */
main {
  margin-top: 140px;
  padding: 2rem;
}

@media (max-width: 768px) {
  .whatsapp-btn {
    display: none;
  }
}

/* RESPONSIVO DESKTOP */
@media (min-width: 1024px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
  }
}



/* HERO */

.hero {
      min-height: 65vh;
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
    }

    #h101{
    color: #d49263;
    }

    .hero-content {
      max-width: 900px;
      animation: fadeIn 1s ease-in-out forwards;
      
    }

    .hero h1 {
      font-size: 3rem;
      margin-bottom: 1.2rem;
      font-weight: 700;
      line-height: 1.3;
      opacity: 0;
      transform: translateY(30px);
      animation: slideIn 1s ease forwards 0.3s;
      color: white;
    }

    .hero p {
      font-size: 1.3rem;
      margin-bottom: 2rem;
      opacity: 0;
      transform: translateY(30px);
      animation: slideIn 1s ease forwards 0.5s;
       color: white;
    }

    .hero .cta-btn {
  padding: 1rem 2.5rem;
  border-radius: 50px;
  background: linear-gradient(270deg, #8b4ce0, #d492637d, #d49263cb, #8b4ce0, #d492637d, #8b4ce0,#d49263, #d492637d, #8b4ce0);
  background-size: 600% 600%;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: backgroundFlow 6s ease infinite, fadeIn 1s ease forwards 0.8s;
  opacity: 0;
}

@keyframes backgroundFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


    .hero .cta-btn:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px #d49263 ;
    }

    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }

    @keyframes slideIn {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @media (max-width: 768px) {
      .hero h1 {
        font-size: 1.5rem;
      }

      .hero p {
        font-size: 0.9rem;
      }
    }


/* sessão n1 */

    .sessao-n1 {
  position: relative;
  padding: 120px 20px 60px;
  z-index: 1;
}

.n1-box {
  background: rgba(255, 255, 255, 0.1); /* fundo translúcido */
  backdrop-filter: blur(20px); /* desfoque */
  -webkit-backdrop-filter: blur(20px); /* suporte no Safari */
  border-radius: 1.5rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  padding: 2.5rem 2rem;
  max-width: 960px;
  margin: -160px auto 0 auto;
  text-align: center;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
  border-top: 5px solid #d49263;
}


.sessao-n1 h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}

.n1-box {
  margin: px auto 0 auto; /* era -160px */
}


.n1-box h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: #8b4ce0;
}

.n1-box h3 {
  font-size: 1.3rem;
  color: #d49263;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.n1-box p {
  font-size: 1.2rem;
  color: #8b4ce0;
}

.n1-color {
  color: #ffffff;
}

.animado {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@media (max-width: 768px) {
     .sessao-n1 h1 {
  font-size: 1.9rem;
  font-weight:650;
  color: white;
  margin-bottom: 1rem;
}

.n1-box h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: #8b4ce0;
}

.n1-box h3 {
  font-size: 1.1rem;
  color: #d49263;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.n1-box p {
  font-size: 1rem;
  color: #8b4ce0;
}

.n1-color {
  color: white;
}

.animado {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
  }

/* atuação */

 .atuacao-section {
  padding: 10px 30px;
  position: relative;
  overflow: hidden;
}

.container-atuacao {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s ease;
}

.container-atuacao.animado {
  opacity: 1;
  transform: translateY(0);
}

.titulo-atuacao {
  font-size: 2.8rem;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 1rem;
}

.subtitulo-atuacao {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  color: #8b4ce0;
}

.cards-atuacao {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* força 3 colunas */
  gap: 2rem;
}

@media (max-width: 992px) {
  .cards-atuacao {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .cards-atuacao {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
   .titulo-atuacao {
  font-size: 2.1rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}

.subtitulo-atuacao {
  font-size: 1rem;
  margin-bottom: 3rem;
  color: #8b4ce0;
}
  }


.card-item {
  background: rgba(255, 255, 255, 0.1); /* fundo translúcido */
  backdrop-filter: blur(20px); /* desfoque */
  -webkit-backdrop-filter: blur(20px); /* suporte no Safari */
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.06);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  text-align: center;
  border-top: 5px solid #d49263;
}

.card-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.12);
}

.card-item .icon {
  font-size: 2.2rem;
  color: #8b4ce0;
  margin-bottom: 1rem;
}

.card-item h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #d49263;
  margin-bottom: 0.5rem;
}

.card-item p {
  font-size: 1rem;
  color: #8b4ce0;
}


.animar-card {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.animar-card.animado {
  opacity: 1;
  transform: translateY(0);
}

